@model BancoPromericaCaso.Models.citas

@{
    ViewData["Title"] = "Eliminar";
}
<h1>Eliminar</h1>

<h3>Estás seguro de eliminarlo?</h3>

<div class="container mt-5">

    <form asp-action="Delete" class="mt-4" onsubmit="return confirm('Está seguro de eliminarlo?');">
        <input type="hidden" asp-for="IdCita" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </form>
</div>
