@model IEnumerable<BancoPromericaCaso.Models.citas>

@{
    ViewData["Title"] = "Citas";
}

<h1>Citas agendadas</h1>

<p>
    <button type="button" class="btn btn-success"><a href="@Url.Action("Create")" class="text-white">Crear cita</a></button>

</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-12">
            @await Html.PartialAsync("_CardCitas",item)
        </div>
    }
</div>
