@{
	ViewBag.Title = "Reporteria";
}

<div class="row mt-7">
    <div class="col-12">
        <div class="card shadow-sm mx-auto" style="max-width: 500px;">
            <div class="card-header">
                <h5 class="mb-0">Descargar Excel</h5>
            </div>
            <div class="card-body">
                <form action="@Url.Action("exportar","Home")" method="post" class="mx-auto">
                    <div class="form-row">
                        <div class="col-md-6 mb-3 text-center">
                            <label class="form-text mb-0">Empleado</label>
                            <select class="form-control" name="usuario"></select>
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label class="form-text mb-0">Fecha Inicio</label>
                            <input type="text" class="form-control" name="fechainicio" autocomplete="off" />
                        </div>
                        <div class="col-md-6 mb-3 text-center">
                            <label class="form-text mb-0">Fecha Fin</label>
                            <input type="text" class="form-control" name="fechafin" autocomplete="off" />
                        </div>
                        <br>
                        <div class="col-md-6">
                            <button class="btn btn-success btn-block" type="submit">Descargar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@section scripts{
    <script>
        $(document).ready(function () {

            $("input[name=fechainicio]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("input[name=fechafin]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("select[name=usuario]").append(
                $("<option>").attr({ "value": "0" }).text("Todos")
            );

            $.get("/Home/obtenerUsuario", function (data) {
                $.each(data, function (i, fila) {
                    $("select[name=usuario]").append(
                        $("<option>").attr({ "value": fila._IdUsuario }).text(fila._Nombres)
                    );
                });
            });

        });
    </script>
}

    