@model BancoPromericaCaso.Models.citas
@{
    ViewBag.Title = "Reporteria";
}

<div class="row mt-4">
    <div class="col-12">

        <div class="card shadow-sm">
            <div class="card-header">
                <h5>Reporte de citas por ejecutivo</h5>
            </div>
            <div class="card-body">

                <form action="@Url.Action("exportar","Home")" method="post">
                    <div class="form-row align-items-end">
                        <div class="col-sm-3">
                            <label asp-for="IdUsuario" class="control-label">Ejecutivo</label>
                            <select asp-for="IdUsuario" name="ejecutivo" class="form-control" asp-items="ViewBag.DropUsuarios"></select>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-text">Fecha Inicio</label>
                            <input type="text" class="form-control" name="fechainicio" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label class="form-text">Fecha Fin</label>
                            <input type="text" class="form-control" name="fechafin" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success btn-block" type="submit">Descargar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<div class="row mt-4">
    <div class="col-12">

        <div class="card shadow-sm">
            <div class="card-header">
                <h5>Reporte de citas de un cliente</h5>
            </div>
            <div class="card-body">

                <form action="@Url.Action("exportar2","Home")" method="post">
                    <div class="form-row align-items-end">
                        <div class="col-sm-3">
                            <label asp-for="IdCliente" class="control-label">Cliente</label>
                            <select asp-for="IdCliente" name="cliente" class="form-control" asp-items="ViewBag.DropClientes"></select>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-text">Fecha Inicio</label>
                            <input type="text" class="form-control" name="fechainicio2" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label class="form-text">Fecha Fin</label>
                            <input type="text" class="form-control" name="fechafin2" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success btn-block" type="submit">Descargar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $("input[name=fechainicio]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("input[name=fechafin]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("select[name=ejecutivo]").append(
                $("<option>").attr({ "value": "0" }).text("Todos")
            )

            $("input[name=fechainicio2]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("input[name=fechafin2]").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            }).datepicker('setDate', new Date());

            $("select[name=cliente]").append(
                $("<option>").attr({ "value": "0" }).text("Todos")
            )

        })
    </script>
}

    